{# HEADING #}
<div class="card-header border-bottom border-primary">
	<h4 class="mb-0">

		{{ 'riotinfo.header.title'|trans({}, 'user') }}
	</h4>
</div>

{# BODY #}
<div class="card-body">

	<div class="fw-bold text-danger mb-4">
		{{ 'riotinfo.help'|trans({}, 'user') }}
		:
		<a href="https://account.riotgames.com/">
			https://account.riotgames.com/
		</a>
	</div>

	{# FORM #}
	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.gamename) }}
		{{ form_widget(form.gamename) }}
		<div class="form-group-errors">
			{{ form_errors(form.gamename) }}
		</div>
		{{ form_label(form.tagline) }}
		{{ form_widget(form.tagline) }}
		<div class="form-group-errors">
			{{ form_errors(form.tagline) }}
		</div>
	</div>
	{{ form_end(form) }}

	{# RIOT ACCOUNTS #}
	{% if riotInfos is not null %}
		{% for riotInfo in riotInfos %}
			<div class="card border border-success bg-black bg-opacity-50 rounded-2 neumorphism mt-4">
				<div class="card-body">
					<span class="text-success fw-bold">
						{{ 'riotinfo.linksuccess'|trans({}, 'user') }}
					</span>
					<div class="fs-sm">
						<span>
							{{ riotInfo.gamename }}
							#
							{{ riotInfo.tagline }}
						</span>
					</div>
					{% include "pages/account/user/riot_infos/components/_delete_form.html.twig" %}
				</div>
			</div>

		{% else %}
			<div class="card border border-danger bg-black bg-opacity-50 rounded-2 neumorphism mt-4">
				<div class="card-body">
					<p class="text-danger fw-bold mb-0">
						{{ 'riotinfo.nolink'|trans({}, 'user') }}
					</p>
				</div>
			</div>
		{% endfor %}
	{% endif %}

</div>
